<ion-view view-title="Video">

    <ion-content class="padding">
        <head>
            <meta charset="utf-8" />
            <title>Mise en place d'une videoo</title>
        </head>

        <body>
        <div class ="Titre"><h1>Video-clips</h1></div>
        <div class="main">

            <video id="mavideo"  poster="../img/nu8.jpg">
                <source src = "video/video.mp4" type="video/mp4" >
                <track src="../img/r.vtt" kind="subtitles" srclang="fr" label="francais" default>
            </video>
                <div id='subtitles'></div>

            <div id="controles">

         <button id="buttonPlay" ng-click="PlayVideo()"></button>
        <button id="buttonPause" ng-click="PauseVideo()"></button>
        <button id="buttonStop" ng-click="StopVideo()"></button>
         <button id="buttonSuiv" ng-click="SuivVideo()"></button>
         <button id="buttonPre" ng-click="PreceVideo()"></button>

            </div>

        </div>


        </body>
    </ion-content>
</ion-view>
