<ion-view view-title="Picture">
    <ion-content class="padding">



                <ul>
                    <li>
                       <img src ="img/nu1.jpg">

                    </li>
                    <li>
                        <img src = "img/nu2.jpg">

                    </li>

                </ul>

        <ul>
            <li>
                <img src ="img/nu3.jpg">

            </li>
            <li>
                <img src = "img/nu4.jpg">

            </li>

        </ul>


        <ul>
            <li>
                <img src ="img/nu5.jpg">

            </li>
            <li>
                <img src = "img/nu6.jpg">

            </li>

        </ul>


        <ul>
            <li>
                <img src ="img/nu7.jpg">

            </li>
            <li>
                <img src = "img/nu8.jpg">

            </li>

        </ul>





    </ion-content>
</ion-view>